<c-modal id="modalAdministrarInventario" [visible]="modalVisible" size="xl" [scrollable]="true" backdrop="static">
  <c-modal-body>
    <c-container fluid class="fs-9">
      <c-card>
        <c-card-header>
          <c-row>
            <c-col cCol="12">
              <h5 cCardTitle class="fs-6 fw-bold my-0">Administrar Inventario</h5>
            </c-col>
          </c-row>
        </c-card-header>
        <c-card-body>
          <c-row class="mb-2">
            <c-col cCol="12">
              <c-row>
                <c-col cCol="6">
                  <label cLabel class="fw-bold mb-1">Producto</label>
                  <select cSelect sizing="xs" class="fs-9" [(ngModel)]="inventarioGestion.producto" [compareWith]="compareProducto" [disabled]="esEdicion()">
                    <option [ngValue]="undefined">Seleccione</option>
                    <ng-container *ngFor="let producto of arProductos">
                      <option [ngValue]="producto">{{ producto.nombre }}</option>
                    </ng-container>
                  </select>
                </c-col>
                <c-col cCol="3">
                  <label cLabel class="fw-bold mb-1">Unidad Medida</label>
                  <select cSelect sizing="xs" class="fs-9" [(ngModel)]="inventarioGestion.unidadMedida" [compareWith]="compareUnidadMedida" [disabled]="esEdicion()">
                    <option [ngValue]="undefined">Seleccione</option>
                    <ng-container *ngFor="let unidadMedida of arUnidadMedida">
                      <option [ngValue]="unidadMedida">{{ unidadMedida.nombre + ' ('+ unidadMedida.abreviatura + ')' }}</option>
                    </ng-container>
                  </select>
                </c-col>
                <c-col cCol="3">
                  <label cLabel class="fw-bold mb-1">Lote</label>
                  <input cFormControl sizing="xs" type="text" class="padding-input fs-9" [(ngModel)]="inventarioGestion.lote" [disabled]="esEdicion()" />
                </c-col>
              </c-row>
              <c-row>
                <c-col cCol="3">
                  <label cLabel class="fw-bold mb-1">Fecha Vencimiento</label>
                  <input cFormControl [ngModel]="inventarioGestion.fechaVencimiento | date:'yyyy-MM-dd' : 'UTC'" (ngModelChange)="inventarioGestion.fechaVencimiento = $event" class="fs-9" type="date" />
                </c-col>
                <c-col cCol="2">
                  <label cLabel class="fw-bold mb-1">Cantidad</label>
                  <input cFormControl [(ngModel)]="inventarioGestion.cantidad" class="fs-9" type="number" [disabled]="esEdicion()" />
                </c-col>
                <c-col cCol="3">
                  <label cLabel class="fw-bold mb-1">Punto Venta</label>
                  <select cSelect sizing="xs" class="fs-9" [(ngModel)]="inventarioGestion.puntoVenta" [compareWith]="comparePuntoVenta" [disabled]="esEdicion()">
                    <option [ngValue]="undefined">Seleccione</option>
                    <ng-container *ngFor="let puntoVenta of arPuntosVenta">
                      <option [ngValue]="puntoVenta">{{ puntoVenta.nombre }}</option>
                    </ng-container>
                  </select>
                </c-col>
                <c-col cCol="12">
                  <label cLabel class="fw-bold mb-1">Observaciones</label>
                  <input cFormControl [(ngModel)]="inventarioGestion.observaciones" class="fs-9" type="text" />
                </c-col>
              </c-row>
            </c-col>
          </c-row>
        </c-card-body>
        <c-card-footer>
          <c-row>
            <c-col class="text-end">
              <button cButton (click)="guardarDatos()" color="primary" class="btn-general fs-9 w-auto px-4 me-2 btn-padding">Guardar</button>
              <button cButton (click)="cerrarModal()" color="danger" class="btn-general fs-9 w-auto px-4">Cerrar</button>
            </c-col>
          </c-row>
        </c-card-footer>
      </c-card>
    </c-container>
  </c-modal-body>
</c-modal>