<c-modal id="modalAdministrarCategoria" [visible]="modalVisible" [scrollable]="true" backdrop="static">
    <c-modal-body>
      <c-container fluid class="fs-9">
        <c-card>
          <c-card-header>
            <c-row>
              <c-col cCol="12">
                <h5 cCardTitle class="fs-6 fw-bold my-0">Administrar Tipo Observación</h5>
              </c-col>
            </c-row>
          </c-card-header>
          <c-card-body>
            <c-row class="mb-2">
              <c-col cCol="12">
                <c-row>
                  <c-col cCol="12">
                    <label cLabel class="fw-bold mb-1">Nombre</label>
                    <input cFormControl sizing="xs" type="text" class="padding-input fs-9" [(ngModel)]="tipoObservacionGestion.nombre" />
                  </c-col>
                </c-row>
              </c-col>
            </c-row>
          </c-card-body>
          <c-card-footer>
            <c-row>
              <c-col class="text-end">
                <button cButton (click)="guardarDatos()" color="primary" class="btn-general fs-9 w-auto px-4 me-2 btn-padding">Guardar</button>
                <button cButton (click)="cerrarModal()" color="danger" class="btn-general fs-9 w-auto px-4">Cerrar</button>
              </c-col>
            </c-row>
          </c-card-footer>
        </c-card>
      </c-container>
    </c-modal-body>
  </c-modal>