<div>
    <c-pagination size="sm" align="center">
        <li cPageItem [disabled]="currentPage === 1" (click)="setCurrentPage(currentPage - 1)">
            <span cPageLink>Anterior</span>
        </li>
        <ng-container *ngFor="let page of pagesToShow">
            <li cPageItem (click)="setCurrentPage(page)" *ngIf="page !== '...'; else ellipsis" [class.active]="currentPage === page">
                <a cPageLink>{{ page }}</a>
            </li>
            <ng-template #ellipsis>
                <li cPageItem>
                    <a cPageLink>...</a>
                </li>
            </ng-template>
        </ng-container>
        <li cPageItem [disabled]="currentPage == totalPages" (click)="setCurrentPage(currentPage + 1)">
            <a cPageLink>Siguiente</a>
        </li>
    </c-pagination>
</div>