<c-container>
  <c-card>
    <c-card-body class="py-2">
      <c-nav variant="tabs">
        <c-nav-item *ngFor="let nav of panes; index as i; first as isFirst; last as isLast">
          <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="i" cNavLink>
            {{ nav.name }}
          </a>
        </c-nav-item>
      </c-nav>
      <c-tab-content #tabContent="cTabContent" (activeTabPaneIdxChange)="onTabChange($event)" [activeTabPaneIdx]="activePane">
        <c-tab-pane class="p-3">
          <app-administrar-laboratorios></app-administrar-laboratorios>
        </c-tab-pane>
        <c-tab-pane class="p-3">
          <app-administrar-categorias></app-administrar-categorias>
        </c-tab-pane>
        <c-tab-pane class="p-3">
          <app-administrar-tipo-observacion></app-administrar-tipo-observacion>
        </c-tab-pane>
        <c-tab-pane class="p-3">
          <app-administrar-unidad-medida></app-administrar-unidad-medida>
        </c-tab-pane>
        <c-tab-pane class="p-3">
          <app-administrar-impuestos/>
        </c-tab-pane>
        <c-tab-pane class="p-3">
          <app-administrar-puntosventa/>
        </c-tab-pane>
      </c-tab-content>
    </c-card-body>
  </c-card>
</c-container>
