<c-card class="mb-4">
    <c-card-body>
        <c-row>
            <c-col sm="5">
                <h4 class="card-title mb-0" id="traffic">Historico Venta</h4>
                <div class="small text-medium-emphasis">Ultimos 30 dias</div>
            </c-col>
        </c-row>
        <c-chart *ngIf="mainChart != null" [data]="mainChart.data" [height]="300" [ngStyle]="{ 'marginTop.px': 40 }" [options]="mainChart.options" [type]="mainChart.type">
            Main chart
        </c-chart>
    </c-card-body>
</c-card>