// Here you can add other styles

//Tamanos en tablas
.wt-2 {
    width: 2%;
  }
  .wt-3 {
    width: 3%;
  }
  .wt-4 {
    width: 4%;
  }
  .wt-5 {
    width: 5%;
  }
  .wt-7 {
    width: 7%;
  }
  .wt-8 {
    width: 8%;
  }
  .wt-10 {
    width: 10%;
  }
  .wt-12 {
    width: 12%;
  }
  .wt-13 {
    width: 13%;
  }
  .wt-15 {
    width: 15%;
  }
  .wt-20 {
    width: 22%;
  }
  .wt-22 {
    width: 22%;
  }
  .wt-23 {
    width: 23%;
  }
  .wt-25 {
    width: 25%;
  }
  .wt-30 {
    width: 30%;
  }
  .wt-35 {
    width: 35%;
  }
  .wt-40 {
    width: 40%;
  }
  .wt-45 {
    width: 45%;
  }
  .wt-50 {
    width: 50%;
  }
  .wt-55 {
    width: 55%;
  }
  .wt-70 {
    width: 70%;
  }
  .wt-80 {
    width: 80%;
  }