<c-container fluid>
  <c-card
    ><c-card-body class="py-2">
      <c-row>
        <c-col cCol="12" class="fs-9 my-1">
          <button cButton color="primary" class="button_padding px-3 fs-9" (click)="crearProducto()">Crear Producto</button>
        </c-col>
        <c-col cCol="12">
          <table cTable bordered hover>
            <thead cTableColor="dark" class="fs-8">
              <tr>
                <th class="py-1 px-2 wt-7">
                  <svg cIcon name="cilListRich"></svg>
                </th>
                <th class="py-1 px-2 wt-10 text-center">
                  <svg cIcon name="cilImage"></svg>
                </th>
                <th class="py-1 px-2 wt-50">Producto</th>
                <th class="py-1 px-2">Categoria</th>
                <th class="py-1 px-2">Laboratorio</th>
              </tr>
            </thead>
            <tbody class="fs-9">
              <tr *ngFor="let producto of arProductos">
                <td class="py-1 px-2 wt-7 align-middle">
                  <c-row>
                    <c-col cCol="5">
                      <button
                        cButton
                        color="success"
                        cTooltip="Editar"
                        cTooltipPlacement="top"
                        class="btn-general fs-9 w-auto px-1 d-inline-flex align-items-center"
                        (click)="editarProducto(producto)"
                      >
                        <svg cIcon name="cilPencil" size="xs"></svg>
                      </button>
                    </c-col>
                    <c-col cCol="5">
                      <button
                        cButton
                        color="danger"
                        cTooltip="Eliminar"
                        cTooltipPlacement="top"
                        class="btn-general fs-9 w-auto px-1 d-inline-flex align-items-center"
                        (click)="eliminarProducto(producto)"
                      >
                        <svg cIcon name="cilTrash" size="xs"></svg>
                      </button>
                    </c-col>
                  </c-row>
                </td>
                <td class="text-center">
                  <img [src]="productoService._urlEndPoint + '/images/' + producto.id" alt="Producto" style="height: 50px" />
                  <!-- <c-avatar size="md" src="{{ user.avatar }}" status="{{ user.status }}"></c-avatar> -->
                </td>
                <td class="py-1 px-2 align-middle wt-50">
                  <b>{{ producto.nombre }}</b
                  ><br />{{ producto.descripcion }}
                </td>
                <td class="py-1 px-2 align-middle">
                  {{ producto.categoria.nombre }}
                </td>
                <td class="py-1 px-2 align-middle">
                  {{ producto.laboratorio.nombre }}
                </td>
              </tr>
            </tbody>
          </table>
        </c-col>
      </c-row>
    </c-card-body>
  </c-card>
  <app-gestionar-producto #gestionarProducto (recargarDatos)="listarProductos()"></app-gestionar-producto>
</c-container>
