<c-container fluid>
  <c-card class="mb-2"><c-card-body class="py-2 fs-9">
      <c-row>
        <c-col cCol="2">
          <label cLabel class="fw-bold mb-1">Categoria</label>
          <select cSelect sizing="xs" class="fs-9" [(ngModel)]="categoriaFiltro">
            <option [ngValue]="undefined">Todos</option>
            <ng-container *ngFor="let categoria of arCategorias">
              <option [ngValue]="categoria">{{ categoria.nombre }}</option>
            </ng-container>
          </select>
        </c-col>
        <c-col cCol="3">
          <label cLabel class="fw-bold mb-1">Todos</label>
          <select cSelect sizing="xs" class="fs-9" [(ngModel)]="laboratorioFiltro">
            <option [ngValue]="undefined">Seleccione</option>
            <ng-container *ngFor="let laboratorio of arLaboratorios">
              <option [ngValue]="laboratorio">{{ laboratorio.nombre }}</option>
            </ng-container>
          </select>
        </c-col>
        <c-col cCol="3">
          <label cLabel class="fw-bold mb-1">Nombre / Barcode</label>
          <input cFormControl sizing="xs" type="text" class="padding-input fs-9" [(ngModel)]="palabraBusqueda" (keypress)="pressEnter($event)" />
        </c-col>
        <c-col cCol="2">
          <label cLabel class="fw-bold mb-1">&nbsp;</label><br />
          <button cButton color="primary" class="button_padding px-3 fs-9" (click)="onPageChange(1)">Buscar</button>
        </c-col>
      </c-row>
    </c-card-body></c-card>
  <c-card><c-card-body class="py-2">
      <c-row>
        <c-col cCol="12" class="fs-9 my-1">
          <button cButton color="primary" class="button_padding px-3 fs-9" (click)="crearProducto()">Crear Producto</button>
        </c-col>
        <c-col cCol="12">
          <table cTable bordered hover>
            <thead cTableColor="dark" class="fs-8">
              <tr>
                <th class="py-1 wt-10">
                  <svg cIcon name="cilListRich"></svg>
                </th>
                <th class="py-1 px-2 wt-10 text-center">
                  <svg cIcon name="cilImage"></svg>
                </th>
                <th class="py-1 px-2 wt-30">Producto</th>
                <th class="py-1 px-2" cTooltip="Unidad Medida Venta">UMV</th>
                <th class="py-1 px-2 wt-20">Categoria/Laboratorio/Barcode</th>
                <th class="py-1 px-2 wt-30">Unidades Venta</th>
              </tr>
            </thead>
            <tbody class="fs-9">
              <tr *ngFor="let producto of arProductos" (dblclick)="verDetalleProducto(producto)">
                <td class="py-1 px-2 align-middle">
                  <c-row class="px-2">
                    <c-dropdown variant="btn-group">
                      <button cButton cDropdownToggle color="primary" class="btn-general fs-9">
                        Acciones
                      </button>
                      <ul cDropdownMenu class="fs-7">
                        <li><a cDropdownItem (click)="editarProducto(producto)" class="pointer"><svg cIcon name="cilPencil" size="xs"></svg> Editar</a></li>
                        <li><a cDropdownItem (click)="eliminarProducto(producto)" class="pointer"><svg cIcon name="cilTrash" size="xs"></svg> Eliminar</a></li>
                        <li><a cDropdownItem (click)="administrarObservaciones(producto)" class="pointer"><svg cIcon name="cilListRich" size="xs"></svg> Observaciones</a></li>
                        <li><a cDropdownItem (click)="administrarPrecios(producto)" class="pointer"><svg cIcon name="cilCash" size="xs"></svg> Precios</a></li>
                      </ul>
                    </c-dropdown>
                  </c-row>
                </td>
                <td class="text-center align-middle">
                  <img [src]="productoService._urlEndPoint + '/images/' + producto.id" alt="Producto" style="height: 50px" />
                  <!-- <c-avatar size="md" src="{{ user.avatar }}" status="{{ user.status }}"></c-avatar> -->
                </td>
                <td class="py-1 px-2 align-middle wt-30">
                  <span class="pointer">
                    <b>{{ producto.nombre }}</b><br />{{ producto.descripcion }}
                  </span>
                </td>
                <td class="py-1 px-2 align-middle text-center">
                  {{ producto.unidadMedidaVenta?.abreviatura }}
                </td>
                <td class="py-1 px-2 align-middle wt-20">
                  <b>Categoria:</b> {{ producto.categoria.nombre }}<br />
                  <b>Laboratorio:</b> {{ producto.laboratorio.nombre }}<br />
                  <b>Barcode:</b> {{ producto.codigoBarras }}<br />
                </td>
                <td class="py-1 px-2 align-middle wt-30">
                  <ng-container *ngFor="let unidadPorEmpaque of producto.arUnidadesPorEmpaque">
                    <li>
                      <span class="fw-bold">Ppal: </span>{{unidadPorEmpaque.unidadPrincipal.nombre + '(1)'}} <span class="fw-bold">Ref: </span>{{ unidadPorEmpaque.unidadReferencia.nombre + '('+unidadPorEmpaque.cantidad+ ')'}}
                    </li>
                  </ng-container>
                </td>
              </tr>
            </tbody>
          </table>
        </c-col>
        <c-col cCol="12">
          <app-pagination-table [currentPage]="currentPage" [totalPages]="totalPages" (pageChange)="onPageChange($event)"></app-pagination-table>
        </c-col>
      </c-row>
    </c-card-body>
  </c-card>
  <app-gestionar-producto #gestionarProducto (recargarDatos)="listarProductos()"></app-gestionar-producto>
  <app-administrar-observaciones #gestionObservaciones (recargarDatos)="listarProductos()"></app-administrar-observaciones>
  <app-administrar-precios #gestionarPrecios (recargarDatos)="listarProductos()"></app-administrar-precios>
  <app-detalle-producto #detalleProducto [productoGestion]="productoDetalle" (limpiarProducto)="limpiarProductoDetalle()"></app-detalle-producto>
</c-container>