<c-container fluid>
    <c-card
      ><c-card-body class="py-2">
        <c-row>
          <c-col cCol="12" class="fs-9 my-1">
            <button cButton color="primary" class="button_padding px-3 fs-9" (click)="crearLaboratorio()">Crear Laboratorio</button>
          </c-col>
          <c-col cCol="12" class="fs-7">
            <table cTable bordered hover>
              <thead cTableColor="dark" class="fs-8">
                <tr>
                  <th class="py-1 px-2 wt-10">
                    <svg cIcon name="cilListRich"></svg>
                  </th>
                  <th class="py-1 px-2 wt-25">Nombre</th>
                  <th class="py-1 px-2">Telefono</th>
                  <th class="py-1 px-2">Observaciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let laboratorio of arLaboratorios">
                  <td class="py-1 px-2 wt-10">
                    <c-row>
                      <c-col cCol="5">
                        <button
                          cButton
                          color="success"
                          cTooltip="Editar"
                          cTooltipPlacement="top"
                          class="btn-general fs-9 w-auto px-1 d-inline-flex align-items-center"
                          (click)="editarLaboratorio(laboratorio)"
                        >
                          <svg cIcon name="cilPencil" size="xs"></svg>
                        </button>
                      </c-col>
                      <c-col cCol="5">
                        <button
                          cButton
                          color="danger"
                          cTooltip="Eliminar"
                          cTooltipPlacement="top"
                          class="btn-general fs-9 w-auto px-1 d-inline-flex align-items-center"
                          (click)="eliminarLaboratorio(laboratorio)"
                        >
                          <svg cIcon name="cilTrash" size="xs"></svg>
                        </button>
                      </c-col>
                    </c-row>
                  </td>
                  <td class="py-1 px-2 wt-25 align-middle">{{ laboratorio.nombre }}</td>
                  <td class="py-1 px-2 align-middle">{{ laboratorio.telefono }}</td>
                  <td class="py-1 px-2 align-middle">{{ laboratorio.observaciones }}</td>
                </tr>
              </tbody>
            </table>
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
    <app-gestionar-laboratorio #gestionLaboratorio (recargarDatos)="listarLaboratorios()"></app-gestionar-laboratorio>
  </c-container>
  